<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385776263378-g881vse522mug8g43ni9me18t0klvd4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385776263378-g881vse522mug8g43ni9me18t0klvd4k</string>
	<key>API_KEY</key>
	<string>AIzaSyDeJjmI1nTg7ngkez9Fv2oO0B7u-Ng7zeA</string>
	<key>GCM_SENDER_ID</key>
	<string>385776263378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tlbcom.restaurant</string>
	<key>PROJECT_ID</key>
	<string>tlbcom</string>
	<key>STORAGE_BUCKET</key>
	<string>tlbcom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385776263378:ios:0be98e916523046f8f4d0b</string>
</dict>
</plist>